<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED3A47052D6DA181009AE6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3A47152D6DA183009AE6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3A471F2D6DA183009AE6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
